.Footer{
    background-color:#222;
    color:white;
}

.NomEquipe{
    float:right;
    margin-right:5%;
    background-color: #222;
}

.DateLieu{
    float:left;
    margin-left:5%;
    background-color: #222;   
}