h2{ 
	text-align : center ;
	color:red ;
 }

div{ 
	text-align : center ; 
	}

	
p{ 
	size : 100px ;
	text-align : center ; 	}

#img3{
		height : 220px; }

		
#img2{ 
		height : 150px ; 
		
	}
	
	
#img6 { 
		height : 350px ; 
		} 

		
#img5{ 
		height : 300px ; 
		}

#img4{
		height : 200px; 
		}
