.Footer{
    position:absolute;
    height:6%;
    width:100%;
    background-color:#222;
    color:white;
    text-align:center;
    bottom:0;
    
}

.NomEquipe{
    padding-top:20px;    
    float:right;    
}

.DateLieu{
    padding-top:20px; 
    float:left; 
}

.NomEquipe:hover{
    padding-top:20px;    
    float:right;    
    
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: white;
    background-color: #222;
    border-radius: 4px;
}